<?xml version="1.0" encoding="UTF-8"?>
<beans>

 <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
  <property name="jndiName">
   <value>java:comp/env/jdbc/security</value>
  </property>
 </bean>

 <bean id="hibernateConfig">
  <property name="properties">
   <props merge="true">
    <prop key="hibernate.show_sql">false</prop>
    <!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
    <prop key="hibernate.default_schema">security</prop>
    <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</prop>
   </props>
  </property>
 </bean>
 
  <bean id="properties">
    <property name="value">
      <value>
        security.cas.server=http://portal.shfc.edu.cn/cas
      </value>
    </property>
  </bean>
  
  <bean id="org.beangle.security.web.access.SecurityFilter">
    <constructor-arg>
      <list>
        <ref bean="org.beangle.security.realm.cas.CasPreauthFilter"/>
        <ref bean="org.beangle.security.web.access.HttpMethodPermissionFilter"/>
      </list>
    </constructor-arg>
    <constructor-arg value="?" />
    <constructor-arg value="?" />
    <constructor-arg value="?" />
  </bean>
  
  <bean id="org.beangle.security.authc.RealmAuthenticator">
    <constructor-arg>
      <list>
        <ref bean="org.beangle.security.realm.cas.DefaultCasRealm"/>
        <ref bean="org.beangle.security.blueprint.service.internal.DaoUserRealm"/>
      </list>
    </constructor-arg>
  </bean>
  
  <bean id="org.beangle.security.realm.cas.CasEntryPoint" class="org.beangle.security.web.EntryPoint" primary="true"/>
  <bean id="org.beangle.security.realm.cas.vendor.NeusoftCasTicketValidator" class="org.beangle.security.realm.cas.TicketValidator" primary="true"/>
</beans>
