<?xml version="1.0" encoding="UTF-8"?>
<beans>

 <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
  <property name="jndiName">
   <value>java:comp/env/jdbc/eams</value>
  </property>
 </bean>

 <bean id="sessionDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
  <property name="jndiName">
   <value>java:comp/env/jdbc/eams</value>
  </property>
 </bean>

 <bean id="hibernateConfig">
  <property name="properties">
   <props merge="true">
    <prop key="hibernate.show_sql">false</prop>
    <!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
    <prop key="hibernate.default_schema">eams</prop>
    <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
   </props>
  </property>
 </bean>

 <bean id="sessionHibernateConfig">
  <property name="properties">
   <props merge="true">
    <prop key="hibernate.show_sql">false</prop>
    <prop key="hibernate.default_schema">eams</prop>
    <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
   </props>
  </property>
 </bean>
 
</beans>
